@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex !important;
    flex-direction: column !important;
}
.cont{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50%;
}
.logo p a{
    color: rgba(0,0,0,0.8);
    text-decoration: none;
    
}
.logo p a:hover{
    text-decoration: underline;
    color: royalblue;
    
}
.maraphone_hr{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.maraphone_hr2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.maraphone_hr2 h2{
    width: max-content;
}
.maraphone_hr hr{
    width: 43%;
}
.maraphone_hr2 hr{
    width: 20%;
}
.maraphone_link{
    width: 50%;
    padding: 8% 2% !important;
    outline: none !important;
    border: none;
    border-radius: 5px;
}
.maraphone_link3{
    width: 60%;
    padding: 8% 3% !important;
    outline: none !important;
    border: none;
    border-radius: 5px;
}
.maraphone_link span{
    font-size: 15px;
}
.font_size_14 span{
    font-size: 13px;
}
.drop_flex{
    display: flex !important;
    align-items: center !important;
}
.dropdown-menu1{
    margin-top: 3% !important;
    padding: 5% 2% !important;
    position: absolute !important;
}
.dropdown-menu2{
    margin-top: 3% !important;
    padding: 5% 2% !important;    
    position: absolute !important;
}
.dropdown-menu3{
    margin-top: 3% !important;
    padding: 5% 2% !important;    
    position: absolute !important;
    left: -25% !important;
}
.dropdown-menu-grey{
    background-color: whitesmoke !important;
}
.alignment_block{
    display: flex !important;
    justify-content: space-between !important;
}
.alignment_block2{
    display: flex;
    flex-direction: row;
}
.alignment_block3{
    display: flex;
    flex-direction: row-reverse;
}
.alignment_block4{
    display: flex;
    justify-content: center;
}
.whatsapp{
    background-color: #25D366 !important;
    transition: 0.3s !important;
}
.whatsapp:hover, .facebook:hover, .instagram:hover, .operator:hover, .megacom:hover{
    transform: scale(1.1);
}
.whatsapp span{
    text-shadow: 0 0 3px black;
}
.facebook{
    background-color: #4267B2 !important;
    transition: 0.3s !important;
}
.instagram{
    background: #f09433; 
    background: linear-gradient(45deg, #f09433 20%,#e6683c 40%,#dc2743 60%,#cc2366 80%,#bc1888 100%); 
    transition: 0.3s !important;
}
.btn-group1{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}
.btn-group1 .btn{
    width: 30% !important;
    height: 100px !important;
}
.nomera{
    width: 100%;
}
.operator{
    background-color: rgb(240,4,127) !important;
    transition: 0.3s !important;
}
.megacom{
    background-color: #4cb034 !important;
    transition: 0.3s !important;
}
.abdulkadyr{
    color: rgba(255,255,255,0.9);
}

@media screen and (max-width: 1400px){
    .cont{
        width: 65%;
    }
}
@media screen and (max-width: 1290px){
    .cont{
        width: 70%;
    }
}
@media screen and (max-width: 1200px){
    .maraphone_link3{
        width: 70%;
    }
}
@media screen and (max-width: 1130px){
    .maraphone_link span{
        font-size: 14px;
    }
}
@media screen and (max-width: 1095px){
    .maraphone_link{
        width: 60%;
    }
}
@media screen and (max-width: 1040px){
    .cont{
        width: 80%;
    }
}
@media screen and (max-width: 920px){
    .megacom h4, .operator h4{
        font-size: 21px;
    }
    .col-lg-4{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .dropdown-menu3{
        left: -15% !important;
    }
}
@media screen and (max-width: 880px){
    .dropdown-menu3 small p{
        font-size: 12px;
    }
}
@media screen and (max-width: 820px){
    .cont{
        width: 85%;
    }
}
@media screen and (max-width: 772px){
    .cont{
        width: 90%;
    }
}
@media screen and (max-width: 740px){
    .btn-sm{
        font-size: 13px !important;
    }
    .cont{
        width: 95%;
    }
}
@media screen and (max-width: 662px){
    .maraphone_link3{
        width: 80%;
    }
    .dropdown-menu3{
        left: -10% !important;
    }
    .alignment_block{
        flex-direction: column;
        justify-content: flex-start ;
        align-items: flex-start;
    }
    .alignment_block2{
        width: 60% !important;
        justify-content: center;
        margin: 2% 0;
    }
    .alignment_block3{
        width: 60% !important;
        justify-content: center;
        margin: 2% 0 0 0;
    }
    .alignment_block4{
        width: 60% !important;
        justify-content: center;
        margin: 2% 0;
        margin-left: auto;
    }
    .maraphone_link3{
        width: 60%;
    }
    .cont{
        padding-bottom: 40px ;
    }
    .btn-sm{
        font-size: 15px !important;
    }
    .dropdown-menu2{
        left: -20% !important;
    }
    .btn-group1{
        padding: 0 5%;
    }
    .dropdown-menu3 small p{
        font-size: 14px !important;
    }
    .social .maraphone_hr2 div h3{
        font-size: 24px;
    }
}
@media screen and (max-width: 500px){
    .btn-group1{
        padding: 0 0%;
    }
}
@media screen and (max-width: 495px){
    .social .maraphone_hr2 div h3 {
        font-size: 22px !important;
    }
}
@media screen and (max-width: 470px){
    .maraphone_link3{
        width: 70%;
    }
    .maraphone_link3 span{
        font-size: 14px;
    }
    .megacom h4, .operator h4 {
        font-size: 18px;
    }
    .whatsapp span, .facebook, .instagram{
        font-size: 15px !important;
    }
    .megacom .m-0, .operator .m-0{
        font-size: 14px !important;
    }
    .modal-title{
        font-size: 17px !important;
    }
}
@media screen and (max-width: 454px){
    .social .maraphone_hr2 div h3 {
        font-size: 20px !important;
    }
}
@media screen and (max-width: 450px){
    .btn-sm {
        font-size: 14px !important;
    }
    .dropdown-menu3 small p {
        font-size: 13px !important;
    }
    .modal-body{
        padding: 8px !important;
    }
}
@media screen and (max-width: 413px){
    .alignment_block2, .alignment_block3, .alignment_block4{
        width: 75%;
    }
    .maraphone_link {
        width: 70%;
    }
    .maraphone_link3 {
        width: 80%;
    }
    .maraphone_hr2 hr {
        width: 15%;
    }
    .modal-title{
        font-size: 15px !important;
    }
}
@media screen and (max-width: 370px){
    .alignment_block2, .alignment_block3, .alignment_block4{
        width: 100% !important;
    }
    .maraphone_link{
        width: 80%;
        border-radius: 20px;
    }
    .maraphone_link3{
        border-radius: 20px;
    }
    .dropdown-menu3 {
        left: 0% !important;
    }
    .dropdown-menu2 {
        left: 0% !important;
    }
}
@media screen and (max-width: 354px){
    .social .maraphone_hr2 div h3 {
        font-size: 17px !important;
    }
    .modal-title{
        font-size: 14px !important;
    }
    .modal-body{
        padding: 2px !important;
    }
}
@media screen and (max-width: 335px){
    .modal-title{
        font-size: 13px !important;
    }
}
@media screen and (max-width: 325px){
    .cont{
        width: 100%;
    }
    .maraphone_hr2{
        margin-bottom: 20px;
    }
}